@import "tailwindcss";

@theme{
	--color-lamaSky: #c3ebfa;
	--color-lamaSkyLight: #edf9fd;
	--color-lamaPurple: #cfceff;
	--color-lamaPurpleLight: #f1f0ff;
	--color-lamaYellow: #fae27c;
	--color-lamaYellowLight: #fefce8;
}

.react-calendar{
	width: 100% !important;
	border: none !important;
	font-family: "Inter", sans-serif !important;
}